<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css' rel='stylesheet' />
    <title>Home Page</title>
</head>

<body>
    <div id="left-side">
        <div id="navbar">
            <button class="nav-btn" onclick="switchTab('szukaj')" type="submit">Szukaj</button>
            <button class="nav-btn" onclick="switchTab('plan')" type="submit">Plan</button>
            <button class="nav-btn" onclick="switchTab('pojazd')" type="submit">Pojazd</button>
        </div>
        <div id="szukajTab" class="tab-content">
            <form action="/" method="post" enctype="multipart/form-data">
                <h2>Enter your localization:</h2>
                <label for="country">Country:</label>
                <input type="text" id="country" name="country" required /><br />

                <label for="city">City:</label>
                <input type="text" id="city" name="city" required /><br />

                <label for="street">Street:</label>
                <input type="text" id="street" name="street" /><br />

                <label for="house">House:</label>
                <input type="text" id="house" name="house" /><br />

                <label for="postal">Postal Code:</label>
                <input type="text" id="postal" name="postal" /><br />

                <input type="submit" value="Submit" />
            </form>

            <div id="Choice">
                <form method="post" action="/choice" id="suggestion-form">
                    <h2>Lista sugestii:</h2>
                    <ul>
                        {% for suggestion in suggestions %}
                        <li>
                            <!-- Dodajemy przycisk do wyboru sugestii -->
                            <button class="suggestion-btn" type="submit" name="suggestion" value="{{ suggestion }}">{{
                                suggestion }}</button>
                        </li>
                        {% endfor %}
                    </ul>
                </form>
            </div>
            <script>
                // Function to save data in localStorage with a limit of 10 items
                function saveToLocalStorage(data) {
                    var storedData = localStorage.getItem('Points');
                    var dataArray = storedData ? JSON.parse(storedData) : [];

                    // Check if the dataArray exceeds the limit of 10 items
                    if (dataArray.length >= 10) {
                        // Disable further saving when the limit is reached
                        console.log('Cannot add more items. Limit of 10 reached.');
                        return;
                    }

                    // Add the new data at the end of the array
                    dataArray.push(data);

                    // Save the updated dataArray in localStorage
                    localStorage.setItem('Points', JSON.stringify(dataArray));
                }

                // Check if the json_final variable is present in the page (sent from backend)
                {% if json_final %}
                // Convert the JSON string to a JavaScript object
                var jsonData = JSON.parse('{{ json_final|tojson|safe }}');

                // Save the jsonData in localStorage
                saveToLocalStorage(jsonData);
                alert("Added to your plan!")
                {% endif %}
            </script>
        </div>
        <div id="planTab" class="tab-content" style="display: none;">
            <div id="plan">
                <h2>Plan punktów:</h2>
                <script>
                    // Pobranie danych z LocalStorage
                    const dataFromLocalStorage = localStorage.getItem("Points");

                    if (dataFromLocalStorage !== null) {
                        try {
                            // Próba zdekodowania danych JSON na obiekt JavaScript
                            const jsonData = JSON.parse(dataFromLocalStorage);

                            // Funkcja do generowania listy punktowanej
                            function generateListItems(data) {
                                const list = document.getElementById("plan");
                                data.forEach((item) => {
                                    const listItem = document.createElement("li");
                                    listItem.textContent = item.formattedAddress;
                                    list.appendChild(listItem);
                                });
                            }

                            // Wywołanie funkcji z odczytanym JSON-em z LocalStorage
                            generateListItems(jsonData);
                        } catch (error) {
                            // Obsługa błędów, jeśli dane nie są w poprawnym formacie JSON
                            console.error("Błąd dekodowania danych JSON:", error);
                        }
                    } else {
                        console.log("Brak danych w LocalStorage");
                    }
                </script>
                <div id="plan-bts">
                    <button class="plan-btn-submit" id="submitBtn" type="submit">Submit</button>
                    <script>
                        let responseData = null;
                        document.getElementById('submitBtn').addEventListener('click', sendDataToBackend);

                        function sendDataToBackend() {
                            // Pobierz dane z localStorage
                            const data = localStorage.getItem('Points');

                            // Sprawdź, czy dane zostały znalezione w localStorage
                            if (data) {
                                // Wyślij dane do backendu
                                fetch('/path', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify(data), // Send data directly without wrapping it in an object

                                })
                                    .then(response => response.json())
                                    .then(responseData => {
                                        // Tutaj możesz obsłużyć odpowiedź od backendu (jeśli to konieczne)
                                        console.log('Odpowiedź od backendu:', responseData);
                                        responseData = data;
                                        //map.fire('load');
                                    })
                                    .catch(error => {
                                        console.error('Błąd podczas wysyłania danych na backend:', error);
                                    });
                            } else {
                                console.warn('Brak danych w localStorage.');
                            }
                        }
                        map.on('load', function () {
                            // Assuming 'responseData' is an array of coordinates
                            const routeGeoJson = {
                                type: 'Feature',
                                properties: {},
                                geometry: {
                                    'type': 'LineString',
                                    'coordinates': responseData
                                }
                            };

                            map.addSource('route', {
                                type: 'geojson',
                                data: routeGeoJson
                            });

                            map.addLayer({
                                id: 'route',
                                type: 'line',
                                source: 'route',
                                layout: {
                                    'line-join': 'round',
                                    'line-cap': 'round'
                                },
                                paint: {
                                    'line-color': '#ff0000',
                                    'line-width': 8
                                }
                            });
                        });
                    </script>
                    <!--
                        <div id="routeDisplay"></div>
                    -->

                    <button class="plan-btn-clear" onclick="clearStorage()" type="submit">Clear</button>
                </div>
            </div>
        </div>
        <div id="pojazdTab" class="tab-content" style="display: none;">
            <div id="pojazd">
                <h2>Wybierz pojazd:</h2>
            </div>
        </div>
    </div>
    </div>
    <div id="right-side">
        <div id='map'></div>
        <script type="text/javascript">
            const apiKey = "{{ key }}";

            maplibregl.setRTLTextPlugin(
                'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.3/mapbox-gl-rtl-text.js',
                null,
                true // Lazy load the plugin to support right-to-left languages such as Arabic and Hebrew.
            );
            var mapLocation = [19, 52];
            var map = new maplibregl.Map({
                // You need a customAttribution if you have to add additional copyright attribution, for example if you want to show additional layers.
                // attributionControl: true,
                // customAttribution: '[additional attribution]',
                container: 'map',
                zoom: 5,
                pitch: 0,
                minZoom: 2,
                center: mapLocation,
                antialias: true,
                hash: true,
                style: 'https://vectormaps-resources.myptv.com/styles/latest/standard.json',
                transformRequest: (url, resourceType) => {
                    if (resourceType === 'Tile' && url.startsWith('https://api.myptv.com')) {
                        return {
                            url: url + '?apiKey=' + apiKey
                        }
                    }
                }
            });
            // Add controls to the map.
            map.addControl(new maplibregl.NavigationControl());
            map.addControl(new maplibregl.GeolocateControl({
                positionOptions: { enableHighAccuracy: true },
                trackUserLocation: true
            }));

        </script>
    </div>
</body>

</html>