<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css' rel='stylesheet' />
    <title>Mapexify</title>
</head>

<body>
    <div id="left-side">
        <div id="navbar">
            <button class="nav-btn" onclick="switchTab('search')" type="submit">Search</button>
            <button class="nav-btn" onclick="switchTab('plan')" type="submit">Plan</button>
            <button class="nav-btn" onclick="switchTab('vehicle')" type="submit">Vehicle</button>
        </div>
        <div id="searchTab" class="tab-content">
            <form action="/place" method="post" enctype="multipart/form-data">
                <h2>Enter your localization:</h2>
                <label for="country">Country:</label>
                <input type="text" id="country" name="country" required /><br />

                <label for="city">City:</label>
                <input type="text" id="city" name="city" required /><br />

                <label for="street">Street:</label>
                <input type="text" id="street" name="street" /><br />

                <label for="house">House:</label>
                <input type="text" id="house" name="house" /><br />

                <label for="postal">Postal Code:</label>
                <input type="text" id="postal" name="postal" /><br />

                <input type="submit" value="Submit" onclick="displaySuggestions()" />
            </form>

            <div id="choice">
                <form method="post" action="/choice" id="suggestion-form">
                    <h2>List of suggestions:</h2>
                    <ul>
                        {% for suggestion in suggestions %}
                        <li>
                            <button class="suggestion-btn" type="submit" name="suggestion"
                                value="{{ suggestion }}">{{suggestion }}</button>
                        </li>
                        {% endfor %}
                    </ul>
                </form>
            </div>
            <script>
                {% if json_final %}
                var jsonData = JSON.parse('{{ json_final|tojson|safe }}');
                saveToLocalStorage(jsonData);
                alert("Added to your plan!");
                {% endif %}
            </script>
        </div>
        <div id="planTab" class="tab-content" style="display: none;">
            <div id="plan">
                <h2>Points plan:</h2>
                <script>
                    displaySuggestions();
                </script>
                <div id="plan-bts">
                    <button class="plan-btn-submit" id="submitBtn" type="submit"
                        onclick="sendDataToBackend()">Submit</button>
                    <button class="plan-btn-clear" onclick="clearRoute()" type="submit">Clear</button>
                </div>
            </div>
        </div>
        <div id="vehicleTab" class="tab-content" style="display: none;">
            <div id="vehicle">
                <h2>Select toll:</h2>
                <div id="toll-lists">
                    <select class="vehicle-lists" name="profile">
                        <option value="default" selected>Select Profile</option>
                        <option value="EUR_TRAILER_TRUCK"> EUR Trailer Truck</option>
                        <option value="EUR_TRUCK_40T"> EUR Truck 40T</option>
                        <option value="EUR_TRUCK_11_99T">EUR Truck 11 99T</option>
                        <option value="EUR_TRUCK_7_49T">EUR Truck 7 49T</option>
                        <option value="EUR_VAN">EUR Van</option>
                        <option value="EUR_CAR">EUR Car</option>
                        <option value="USA_1_PICKUP">USA 1 Pickup</option>
                        <option value="USA_5_DELIVERY">USA 5 Delivery</option>
                        <option value="USA_8_SEMITRAILER_5AXLE">USA 8 Semitrailer 5AXLE</option>
                        <option value="AUS_LCV_LIGHT_COMMERCIAL">AUS LCV Light Commercial</option>
                        <option value="AUS_MR_MEDIUM_RIGID">AUS Mr Medium RigID</option>
                        <option value="AUS_HR_HEAVY_RIGID">AUS Hr Heavy RigID</option>
                        <option value="IMEA_TRUCK_40T">IMEA Truck 40T</option>
                        <option value="IMEA_TRUCK_7_49T">IMEA Truck 7 49T</option>
                        <option value="IMEA_VAN">IMEA Van</option>
                        <option value="IMEA_CAR">IMEA Car</option>
                    </select>
                    <select class="vehicle-lists" name="currency">
                        <option value="default" selected>Select Currency</option>
                        <option value="PLN">PLN</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                        <option value="CHF">CHF</option>
                        <option value="GBP">GBP</option>
                        <option value="AED">AED</option>
                    </select>
                </div>
                <div id="plan-bts">
                    <button class="plan-btn-submit" id="submitBtn" type="submit" onclick="sendData()">Submit</button>
                    <button class="plan-btn-clear" type="submit" onclick="resetVehicleLists()">Reset lists</button>
                </div>
                <script>
                </script>
            </div>
        </div>
        <div id="result">
            <h2>Result:</h2>
            <li id="distance"></li>
            <li id="time"></li>
            <li id="price"></li>
        </div>
    </div>
    <div id="right-side">
        <div id='map'></div>
        <script type="text/javascript">
            const apiKey = "{{ key }}";

            // Function to create a map with a marker
            function addLayerToMap(routeCoordinates) {
                var geojson = {
                    type: 'Feature',
                    properties: {},
                    geometry: {
                        type: 'LineString',
                        coordinates: routeCoordinates
                    }
                };

                map.addSource('route', {
                    type: 'geojson',
                    data: geojson
                });

                map.addLayer({
                    id: 'route',
                    type: 'line',
                    source: 'route',
                    layout: {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    paint: {
                        'line-color': '#ff0000',
                        'line-width': 6
                    }
                });
            }

            // Function to send data from localStorage to backend
            function sendDataToBackend() {
                const data = localStorage.getItem('Points');
                const count = JSON.parse(data).length;

                if (count >= 2 && count <= 10) {
                    fetch('/path', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    })
                        .then(response => response.json())
                        .then(responseData => {
                            route = responseData.route;
                            addLayerToMap(route);
                        })
                        .catch(error => {
                            console.log("Error during sending data to backend.", error)

                        });
                } else {
                    console.warn('The number of points in localStorage must be greater than or equal to 2 and less than or equal to 10.')
                }
            }

            maplibregl.setRTLTextPlugin(
                'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.3/mapbox-gl-rtl-text.js',
                null,
                true
            );
            let mapLocation = [19, 52];
            let map = new maplibregl.Map({
                // You need a customAttribution if you have to add additional copyright attribution, for example if you want to show additional layers.
                // attributionControl: true,
                // customAttribution: '[additional attribution]',
                container: 'map',
                zoom: 5,
                pitch: 0,
                minZoom: 2,
                center: mapLocation,
                antialias: true,
                hash: true,
                style: 'https://vectormaps-resources.myptv.com/styles/latest/standard.json',
                transformRequest: (url, resourceType) => {
                    if (resourceType === 'Tile' && url.startsWith('https://api.myptv.com')) {
                        return {
                            url: url + '?apiKey=' + apiKey
                        }
                    }
                }
            });
            map.addControl(new maplibregl.NavigationControl());
            map.addControl(new maplibregl.GeolocateControl({
                positionOptions: { enableHighAccuracy: true },
                trackUserLocation: true
            }));
        </script>
    </div>
</body>

</html>