/* Styles */
body {
    margin:0;
    padding:0;
    background-color: #f1f1f1
}

h2 {
    text-align: center;
}

/*left-side*/
#left-side {
    float: left;
    padding: 20px;
    width: 400px;
    height: 100%;
    background-color: #f1f1f1;
}

/*navbar*/
#navbar{
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
}
.nav-btn{
    flex-grow: 1;
    margin: 10px;
    height: 40px;
    background-color: #0f2a10;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.nav-btn:hover{
    background-color: #45a049;
}

/* Localization */
form {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
}

label {
    display: inline-block;
    width: 120px;
    margin: 10px;
}

input[type="text"] {
    width: 230px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0f2a10;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"]:focus {
    outline: none;
}

/*suggestion*/
ul{
    list-style-type: none;
    text-align: center;
    padding: 5px;
}

.suggestion-btn{
    width: 100%;
    padding: 10px;
    background-color: #0f2a10;
    color: white;
    border: none;
    cursor: pointer;
}
.suggestion-btn:hover{
    background-color: #45a049;
}

/*plan*/
#plan{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
}

#plan {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }

#plan li {
    padding: 8px;
    margin-bottom: 4px;
    margin-right: 20px;
    text-align: center;
  }

#plan-bts{
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
}

.plan-btn-submit{
    flex-grow: 1;
    margin: 10px;
    height: 40px;
    background-color: #0f2a10;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.plan-btn-submit:hover{
    background-color: #45a049;
}

.plan-btn-clear{
    flex-grow: 1;
    margin: 10px;
    height: 40px;
    background-color: #0f2a10;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.plan-btn-clear:hover{
    background-color: #a51b14;
}

#plan-result li{
    padding: 8px;
    text-align: center;
    margin-bottom: 8px;
}

/*vehicle*/
#vehicle{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.vehicle-lists{
    display: flex;
    width: auto;
    border: 1px solid #ccc;
}


.vehicle-lists{
    margin-left: 30px;
    margin-bottom: 10px;
    height: 40px;
    background-color: #0f2a10;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.vehicle-lists:hover{
    background-color: #45a049;
}

.vehicle-lists:focus{
    outline: none;
    background-color: #0f2a10;
}


/*Map*/
#map {
    position:absolute;
    right:20px;
    left:450px;
    top:20px;
    bottom:20px;
    width:73%;
}

/*Result*/
#result{
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 10px;
    display: none;
}

#result li{
    padding: 8px;
    text-align: center;
    margin-bottom: 8px;
    list-style-type: none;
}
